#features-menu li a.icon-crm span.icon {
  background: url(../images/atrium_crm.png) no-repeat;
}

.feature .feature-crm {
  background: transparent url(../images/atrium_crm.png) no-repeat;
}

.feature-crm {
  background: url(../images/atrium_crm.png) no-repeat !important;
}

#features-menu li a.icon-accounts span.icon {
  background: url(../images/atrium_crm_account.png) no-repeat;
}

.feature.feature-atrium_crm_account,
span.spaces-feature.feature-atrium_crm_accounts {
  background: transparent url(../images/atrium_crm_account_small.png) no-repeat;
}

#views-exposed-form-atrium-crm-accounts-default .views-exposed-widget,
#views-exposed-form-atrium-crm-contacts-default .views-exposed-widget {
  padding-left: 0;
}

#views-exposed-form-atrium-crm-accounts-default .views-exposed-widget label,
#views-exposed-form-atrium-crm-contacts-default .views-exposed-widget label {
  display: inline-block;
  position: relative;
  width: 26%;
  vertical-align: top;
}

#views-exposed-form-atrium-crm-accounts-default .views-exposed-widget .views-widget,
#views-exposed-form-atrium-crm-contacts-default .views-exposed-widget .views-widget {
  display: inline-block;
  position: relative;
  width: 73%;
  line-height: 25px;
}

#views-exposed-form-atrium-crm-accounts-default .views-exposed-widget .views-widget label,
#views-exposed-form-atrium-crm-contacts-default .views-exposed-widget .views-widget label {
  width: auto;
}

#views-exposed-form-atrium-crm-accounts-default input.form-text,
#views-exposed-form-atrium-crm-accounts-default textarea,
#views-exposed-form-atrium-crm-accounts-default select {
  width: 100%;
}

.content-multiple-values .fieldset.location .fieldset-content {
  padding-top: 0;
}

.fieldset .fieldset-content .content-multiple-values {
  padding: 5px 0;
}

.node-atrium_crm_account .fieldgroup legend,
.node-atrium_crm_contact .fieldgroup legend {
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid #EEE;
  font-weight: bold;
}

.node-atrium_crm_account .fieldgroup .field,
.node-atrium_crm_contact .fieldgroup .field {
  margin-left: 10px;
}

.node-atrium_crm_account .field,
.node-atrium_crm_contact .field {
  border-top: 1px solid #EEE;
  padding: 2px 0;
}

.node.node-atrium_crm_account .field .field-label,
.node.node-atrium_crm_contact .field .field-label {
  color: #666;
  display: inline-block;
  font-size: 11px;
  margin: 0;
  padding: 0;
  text-transform: none;
  vertical-align: top;
  white-space: normal;
  width: 150px;
}

.node-atrium_crm_account .field .field-items,
.node-atrium_crm_contact .field .field-items {
  display: inline-block;
  margin: 0 0 0 20px;
}

.node-atrium_crm_account .field .field-items .field-item + .field-item,
.node-atrium_crm_contact .field .field-items .field-item + .field-item {
  border-top: 1px solid #EEE;
  padding-top: 4px;
}

.node-atrium_crm_account .field .field-item,
.node-atrium_crm_contact .field .field-item {
  padding: 2px 0;
}

.node-atrium_crm_account .field-type-nodereferrer .item-list {
  border: none;
  margin: 0;
}

.node-atrium_crm_account .field-type-nodereferrer .item-list li {
  padding: 0;
}

.node-atrium_crm_account .field-type-nodereferrer .item-list li.last {
  padding: 0;
}

/* @todo rewrite these, they come from the old module*/

.view-account div label {
  color: #999;
  font-size: 11px;
  font-weight: bold;
  left: 0px;
  padding: 5px 0px;
  position: absolute;
}

.view-account div .field-content {
  border-top: 1px solid #EEE;
  display: block;
  padding: 5px 5px 5px 160px;
}

.view-account div {
  clear: both;
  position: relative;
}

.view-account div .title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: none;
  padding-bottom: 10px;
}

.view-atrium-crm-accounts h2.title {
  background: transparent url(../images/atrium_crm_account_small.png) 0 50% no-repeat;
  font-size: 15px;
  padding-left: 30px;
}