#features-menu li a.icon-contacts span.icon {
  background: url(../images/atrium_crm_contact.png) no-repeat;
}

.feature.feature-atrium_crm_contact,
span.spaces-feature.feature-atrium_crm_contacts {
  background: transparent url(../images/atrium_crm_contact_small.png) no-repeat;
}

.view-atrium-crm-contacts h2.title {
  background: transparent url(../images/atrium_crm_contact_small.png) 0 50% no-repeat;
  font-size: 15px;
  padding-left: 30px;
}

.view-atrium-crm-contacts .attachment-before .view-content {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.view-atrium-crm-contacts .attachment-before .item-list {
  border: none;
  margin: 0;
}

.view-atrium-crm-contacts ul.views-summary {
  border: none;
}

.view-atrium-crm-contacts ul.views-summary li {
  white-space: nowrap;
}

.view-atrium-crm-contacts .attachment-before ul.views-summary li {
  background: #eee;
  border: 2px solid #ccc;
  border-radius: 10px 10px 0 0;
  color: #888;
  display: inline-block;
  font-size: 10px;
  line-height: 16px;
  margin: 0;
  overflow: hidden;
  padding: 3px 5px;
}

.view-atrium-crm-contacts .attachment-before ul.views-summary li.hover {
  background: #ddd;
  color: #444;
  margin-right: 0;
  padding-right: 7px;
  z-index: 100;
}

.view-atrium-crm-contacts .attachment-before ul.views-summary li.active {
  background: #fff;
  border-left: none;
  margin-right: 0;
  padding-left: 7px;
}

.view-atrium-crm-contacts .attachment-before ul.views-summary li a {
  line-height: 17px;
  font-size: 12px;
  font-weight: bold;
}

#block-views-atrium_crm_contacts-block_1 label {
  display: inline-block;
  width: 160px;
}

#block-views-atrium_crm_contacts-block_1 label + span,
#block-views-atrium_crm_contacts-block_1 label + div {
  display: inline-block;
}