#features-menu li a.icon-contact_sets span.icon {
  background: url(../images/atrium_crm_set.png) no-repeat;
}

.feature .feature-crm-sets {
  background: transparent url(../images/atrium_crm_set.png) no-repeat;
}

.feature.feature-atrium_crm_sets,
span.spaces-feature.feature-atrium_crm_sets {
  background: transparent url(../images/atrium_crm_set_small.png) no-repeat;
}